@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-align: center;
}

body {
    background-image: url("https://images.wallpaperscraft.com/image/single/symbols_abstraction_pink_213745_6000x6000.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    padding: 25px;
    border-radius: 25px;
    width: 100%;
    max-width: 1280px;
    background-color: #e50162;
}

h1 {
    font-weight: 300;
    font-size: 3rem; 
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.countdown-el {
    margin: 20px 40px;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
}

.countdown-el span {
    font-size: 2rem;
}

@media only screen and (max-width: 1280px) {
    .container {
        border-radius: 0;
    }
}
